:root {
  --stale-blue: #7D83FF;
  --orange: #F55353;
  --cultured: #F8F8F8;
  --black-coffee: #342E37;
  --keeper: #49BEAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: var(--cultured);
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

#root {
  width: 50rem;
}

.contente {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}